/* 2rem=32px;
1rem=16px;
0.5rem=8px;
0.4rem=6.4px;
0.3rem=4.8px
0.2rem=3.2px;
0.1rem=1.6px;

de pixels a rems
16px=1rem;
17px=1.0625rem;
18px=1.125rem;



30px= 1.573rem;
*/


html{
  font-size: 16px;
}
body{
  background-color: skyblue;
  margin: 0;
    font-family: arial;
}

div{
  background-color: red;
  height: 3.125rem;
  background-repeat: no-repeat;
  background-position: 25rem;
}

li{
  display: inline-block;
  background-color: orange;
  height: 1.875rem;
  margin: 0;
  padding: 0.3125rem;
  line-height: 2.19rem
}

li:hover{
  background-color: yellowgreen;
}
h1, p{
width: 21.875rem;
padding: 1.5625rem;

}
a{
text-decoration: none;
}
h1{

  margin: 0;
  font-size: 2.3rem;
}
p{
  padding: 0 1.5625rem;
  margin: 0;

}

b{
  color: white;
}
#primera{
    height: 2.5rem;
}
#segona{
    height: 34.375rem;
    background-image: url(img/img-hero-full-list.png);
    background-repeat: no-repeat;
    background-position: 25rem;
}

#tercera{
    height: 40.0625rem;
    background-image: url(img/allinone.jpg);
    background-repeat: no-repeat;
    background-position: 25rem;
}

#quarta{
    height: 31.25rem;
    background-image: url(img/curator-short.png);
    background-repeat: no-repeat;
    background-position: 25rem;
}

#cinquena{
    height: 34.375rem;
    background-image: url(img/img-hero-full-list.png);
    background-repeat: no-repeat;
    background-position: 25rem;
}
#sisena{
    height: 34.375rem;
    background-image: url(img/mobile-share.png);
    background-repeat: no-repeat;
    background-position: 25rem;
}

#setena{
    height: 40.1875rem;
    background-image: url(img/anywhere.png);
    background-repeat: no-repeat;
    background-position: 25rem;
}

#vuitena{
    height: 12.5rem;
    text-align: center;
}

#boto{
  background-color: violet;
  height: 4.374rem;
  width: 4.374rem;
  position: fixed;
  bottom: 3.125rem;
  right: 6.25rem;
  border-radius:2.1875rem;
  box-shadow: 0.125rem 0.125rem 0.3125rem black;
  text-align: center;
  line-height: 5.625rem;
  font-size: 3.75rem;
  background-image: url(img/sources.png);
  background-position: -13.75rem -0.375rem;
  color: white;
  opacity: 0.5;
}
 img{
   padding: 1.5625rem;
 }

.blanca{
    background-color: #FFF;
}

.verda{
    background-color: #6C3;
}
.fosca{
    background-color: #333;
}

.clara{
    background-color: #EEECEE;
}



/* ------------------ DISSENY MÒBIL -------------------- */

@media screen and (max-width: 950px){
  div{
    background-image: none;
  }
  li{
    display: block;
    background-color: orange;
    height: 1.875rem;
    margin: 0;
    padding: 0.3125rem;
    line-height:2.19rem ;
  }

  #primera{
      height: 16.875rem;
  }

}



/*disseny per imprimir*/
@media print{
  body{
    width: 210mm;
    height: 279mm;
    background-color: white;
    margin-top: 30mm;
    margin-left: 30mm;
  }

  div{
    width: 95mm;
    float: left;
    margin: 0;
  }

h1{
margin: 0;
  font-size: 16pt;
}
#primera{
  display: none;
}

#segona{
  height: 80mm;
}

#tercera{
  height: 80mm;
}

#quarta{
  height: 80mm;
}

#cinquena{
  height: 80mm;
}

#sisena{
  height: 80mm;
}
#setena{
  height: 80mm;
}
#vuitena{
  display: none;
}

#boto{
  display: none;
}

.blanca{
  background-color: yellow;
}
}
